  
{% extends 'base.html' %}

{% block content %}


<br />
<br />
<br />


<div class="container" style="text-align: center;">
    <h1 >Top Rated Movies</h1>
<div class="search" style="display: flex; flex-flow: row wrap; margin: 5px;">
 
    {% for item in data.results%}    
        <div className="item" style="display: flex; margin: 2%;width: 200px; flex-flow: column wrap;word-wrap: break-word;" >
            <a style="color:black; text-decoration: none;" href="/movies/{{item.id}}">    
                <img width="200" src="https://image.tmdb.org/t/p/w200/{{item.poster_path}}"  alt="{{item.title}}"/>
                <span>{{item.title}}</span>
                </a>
        </div>
        
        
        {% endfor %}
    

</div>
</div>






{% endblock %}